@model IEnumerable<PBZ_2.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<h2>Companies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Name</strong>
            </th>
            <th>
                <strong>Kode</strong>
            </th>
            <th>
                <strong>Adress</strong>
            </th>
            <th>
                <strong>Telephone</strong>
            </th>
            <th>
                <strong>Boss</strong>
            </th>
            <th>
                <strong>Boss position</strong>
            </th>
            <th>
                <strong>MD telephone </strong>
            </th>
            <th>
                <strong>MD boss telephone</strong>
            </th>
            <th>
                <strong>Contact person</strong>
            </th>
            <th>
                <strong>Town</strong>
            </th>
            <th>
                <strong>Date</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="PriseLists" asp-route-name="@item.Name">@item.Name</a>
                </td>
                <td>
                    @item.SK
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Tel
                </td>
                <td>
                    @item.FIOBoss
                </td>
                <td>
                    @item.positionBoss
                </td>
                <td>
                    @item.TelMD
                </td>
                <td>
                    @item.TelMDBoss
                </td>
                <td>
                    @item.FIOCP
                </td>
                <td>
                    @item.Town
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
