@model IEnumerable<PBZ_2.Models.PriceList>

@{
    ViewData["Title"] = "PriseLists";
}

<h2>PriseLists</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Company name</strong>
            </th>
            <th>
                <strong>Date</strong>
            </th>
            <th>
                <strong>Product name</strong>
            </th>
            <th>
                <strong>Last prise</strong>
            </th>
            <th>
                <strong>Category</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Company.Name
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Product.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Product.Category.Name
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
